:root{
    --blue-color:  #0171f9;
    --red-color: #ee626b;
    --grey-color: rgba(240, 247, 248, 0.694);
}

html{
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.header{
    background: url("../images/page-heading-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container .logo {
    margin-top: 1rem;
    width: 100%;
    width: 100px;
}

ul{
    margin-top: 1rem;
    list-style-type: none;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
}

ul li a {
    display: block;
    color: white;
    padding: 0.875rem 1rem;
    text-decoration: none;

}

ul li a:active {
    color: #0171f9;
    background-color: rgb(207, 212, 205);
    transition: 0.3s;
    width: 400px; 
  }

.landing-page{
    background: url("../images/page-heading-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:0 0 4rem 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.contact-message{
        text-align: center;
        color: aliceblue;
}
.contact-message h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem;
}

.options{
    display: flex;
    flex-direction: row;
 }

.game-cat-options button{
    background-color: var(--grey-color);
    color:black;
    border-radius: 25px;
    border:none;
    height: 2.8125rem; /* 45px / 16 */
    width: 10.9375rem;  
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem 1rem 2rem 2rem;
}

.game-cat-options button:active{
    background-color: #0171f9;
    color: #fcfdfe; 
    cursor: pointer;
}


.trending-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

}
.card{
    background-color: aliceblue;
    border-radius: 20px;
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 25rem;
}
.card-info img{
    width: 45px; 
    background-color: #ee626b;
    border-radius: 50px; }

.card:hover .cart-btn img{
    background-color: #0171f9;
    cursor: pointer;
    transition: 0.3s;    
}

.card:hover h3{
    color: #0171f9;
    cursor: pointer;
} 

.card .thumb{
   border-radius:20px  20px 0 0; 
   max-width: 400px;
   width: 100%;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px ;
}

.card-price{
    background-color: #0171f9;
    color: #fcfdfe;
    width: 45px;
    border-radius: 15px;
    font-size: 15px;
    padding: 0.625rem 0px 0.625rem 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 2px; /* عدل الرقم حسب ذوقك */
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;   
}


.card-price p{
    margin: 0;
    font-weight: bold;
}


.top-games{
    padding: 60px 80px; 
    background-color:aliceblue;
    border-radius: 5.625rem;
    height: 25rem;
}

.top-games span{
    color: #ee626b;
}




.footer{
    background: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 4rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    text-align: center;
    padding: 3rem;

}
.footer-info{
    font-style: italic;

}
.footer-info h3{
    color: #dcdcdc;
    padding-bottom: 2rem;
    
}

.footer-info a{
    text-decoration: none;
    color: #dcdcdc;
    transition: all 0.6s;

}

.footer-info a:active{
    color: black;
    font-size: larger;
    transition: all 0.6s;
}


@media only screen and (min-width: 992px) {
    .header{
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.logo-container .logo {
    margin: 1rem;
}
ul{
    display: flex;
     /* مسافة بين العناصر */
    align-items: center;
 
}
li{
    float: left;
    margin-left: 2rem;
}

ul li a:hover, ul li a:active{
    color: #0171f9;
    background-color: var(--grey-color);
    border-radius: 30px;
    transform: translateY(3px);
    transition: all 0.7s;
    width: 120px;

  }
  .options {
    margin-top: 5rem;
    margin-left: 25%;

  }
  .game-cat-options button:hover{
    color: var(--red-color); 
    cursor: pointer;
}

.trending-cards{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly */
    display: grid;
    grid-template-columns: repeat(4, 250px); /* عرض ثابت للكرت */
    gap: 20px;
    justify-content: center; /* يوسّط الكروت */
}

.card{
    max-width: 256px;
    width: 100%;
    height: 18rem;

}

.footer-info{
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.footer-info a:hover{
    color: black;
    font-size: larger;
    transition: all 0.6s;

}

}
