*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{  
    background: url("../images/bg login form 2.jpeg");
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.signin-form{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.7); /* أبيض شفاف */
    height: auto;
    gap:4rem;
    position: relative;
}


.signin-img {
    flex: 1;
    min-width: 250px;
    text-align: center;
    position: relative; 
}

.signin-img img{
    filter: brightness(0.6);
    width: 100%;              /* يأخذ كل عرض العنصر الأب */
    max-width: 400px;         /* الحد الأقصى */
    height: auto;      
} 

.greeting {
    flex: 1;
    min-width: 250px;
    color: #bfbfbf;
    margin-bottom: 1rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
     /* لمركزة دقيقة */
}
.greeting h2 {
    margin-bottom: 0.5rem;
}
.greeting p {
    line-height: 1.4rem;
}

.form{
    flex: 1;
    min-width: 250px;
    padding: 1rem;
}

.form h2{
    margin-bottom: 1rem;
    text-align: center;
}

.input-box {
    margin-bottom: 1rem;
}
.form .input-box input{
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form .forget-passlink{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.form .forget-passlink a{
    color:rgb(31, 130, 217);
}

.form .btn{
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: rgb(31, 130, 217);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn:hover {
    background-color: rgb(20, 100, 180);
}
.form p{
    margin-top: 1rem;
}
.form p a{
    color: rgb(31, 130, 217);
    text-decoration: none;
}

.form a{
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}


.close-btn{
    position: absolute;
    top: 0.375rem;
    right: 0.1875rem;
    font-size: 1.375rem;
    cursor: pointer;
    color: #555;
    width: 2rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.close-btn:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
  }


/* Media Queries - Responsive */
@media (max-width: 768px) {
    .signin-form {
        flex-direction: column;  /* العناصر تصطف عموديًا */
        align-items: center;
        padding: 1rem;
        margin: 1rem;
    }
     .form{
        text-align: center;
        margin-bottom: 1rem;
     }
     .signin-img{
        display: none;
     }
}
