:root{
    --blue-color:  #0171f9;
    --red-color: #ee626b;
    --grey-color: rgba(240, 247, 248, 0.694);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.header{
    background: url("/images/page-heading-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container .logo {
    margin-top: 1rem;
    width: 100%;
    width: 100px;
}

ul{
    margin-top: 1rem;
    list-style-type: none;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
}

ul li a {
    display: block;
    color: white;
    padding: 0.875rem 1rem;
    text-decoration: none;

}

ul li a:active {
    color: #0171f9;
    background-color: rgb(207, 212, 205);
    transition: 0.3s;
    width: 400px; 
  }

.landing-page{
    background: url("~/images/page-heading-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:0 0 4rem 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.contact-message{
        text-align: center;
        color: aliceblue;
}
.contact-message h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem;
    
}

.single-game-img{
    padding: 0.6rem;

}

.single-game-img img{
    margin-top: 3rem;
    max-width: 456px;
    width: 99%;
}
.image-describtion h1{
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
}

.single-product-price{
    margin: 3.5rem 0;
    font-size: 1.5rem;
}
.single-game-text p.justify{
    text-align: justify; 
    /* النص يملأ السطر بالكامل */
}
.single-game-text{
    line-height: 1.4;
    padding: 1rem;
}
.list .list-m{
    padding: 0.5rem;
    color: rgb(171, 168, 168);
    text-align: left;
}

span{
    color: var(--blue-color);
    padding-left: 50px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
    width: 100%;
}

.long-description{
    background-color: var(--grey-color);
    border-radius: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
  
}

.btn2{
    display: flex;
    margin: 2rem 0 2rem 2rem;
}
.btn2 button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
}
.btn2  a{
    text-decoration: none;
}

.btn2  a:active{
    color:  var(--blue-color);
}

.long-text{
    margin-left: 1rem;
    padding: 1rem;
}


/* categories */
.categories__sect{
    margin-top: 6rem;
}

.categories__sect .section__littletitle{
    color: #ee626b;
    font-size: 1rem;
    text-align: left;
    margin-left: 14rem;
}

.categories__sect .section__largtitle{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}


.container{
    margin:  0.5rem;
}

.view-all-btn{
    background-color: #ee626b;
    color:white;
    border-radius: 25px;
    border:none;
    height: 2.8125rem; /* 45px / 16 */
    width: 7.9375rem;  
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 3rem 12rem;
}
.view-all-btn:active{
    background-color: #0171f9;
    color: #fcfdfe; 
    cursor: pointer;
}

.category__card{
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 1rem;
}

.category__card img {
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    object-fit: cover;
}

.card__content{
    background-color: #0071f8;
    padding: 1.5rem;
    text-align: center;
    color: #fff;
}

.footer{
    background: url("~/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 4rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    text-align: center;
    padding: 3rem;

}
.footer-info{
    font-style: italic;

}
.footer-info h3{
    color: #dcdcdc;
    padding-bottom: 2rem;
    
}

.footer-info a{
    text-decoration: none;
    color: #dcdcdc;
    transition: all 0.6s;

}

.footer-info a:active{
    color: black;
    font-size: larger;
    transition: all 0.6s;
}


@media only screen and (min-width: 992px) {
        .header{
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
    }
    .logo-container .logo {
        margin: 1rem;
    }
    ul{
        display: flex;
        gap: 2rem;
         /* مسافة بين العناصر */
        align-items: center;
     
    }
    li{
        float: left;
        margin-left: 2rem;
    }
   
    ul li a:hover, ul li a:active{
        color: #0171f9;
        background-color: var(--grey-color);
        border-radius: 30px;
        transform: translateY(3px);
        transition: all 0.7s;
        width: 150px;

      }
  
      .box{
        margin-left: 18%;
        display: flex;
        flex-direction: row;
        gap:4rem; 
    }
      .single-game-img img{
        max-width: 992px;
        width: 100%;
        height: auto;
        margin-top: 10rem;
      }

       .text{
        display: flex;
        flex-direction: column;
        max-width: 992px;
        width: 45%;
        margin-top: 10rem;
       }
       .list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin-top: 3rem;
       } 


       .btn2  a:hover{
        color:  var(--blue-color);
    }

        .view-all-btn:hover{
            background-color: #0171f9;
            color: #fcfdfe; 
            cursor: pointer;
        }
        .view-all-btn{
            margin-left: 47%;
        }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .long-description{
        height: 17rem;
        margin-top: 6rem;
        margin-left: 15rem;
        background-color: #eceef0;
        width: 70%;
    }
   
    .categories__sect .section__littletitle{
        color: #ee626b;
        font-size: 1rem;
        text-align: left;
        margin-left: 22rem;
    }
    .sidebyside{
        padding-bottom: 1.125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 22rem;
    }
    .footer-info{
        padding-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }
    .footer-info a:hover{
        color: black;
        font-size: larger;
        transition: all 0.6s;

    }
    
}
